*{
  font-family: Sofia-Pro, sans-serif !important;
 }

body {
  font-size: 100%;
  line-height: 1.5;
  background-image: url(../assets/images/main_OVERLAY.png);
  height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}


#buttonOff1{
  position: absolute;
  width: 25%;
  height: auto;
  z-index: 2;
  left: 36%;
  top: 5.0%;
  cursor: pointer;
}

#buttonOn1{
  position: absolute;
  width: 25%;
  height: auto;
  z-index: 1;
  left: 36%;
  cursor: pointer;
  top: 5.0%;
}

#Transcript-BTN{
  position: absolute;
  width: 9.5%;
  height: 8.7%;
  z-index: 1;
  top: 5%;
  left: 84.5%;
  transform: translate(-10%, -10%);
}

#sound_on{
  position: absolute;
  width: 3%;
  height: 3%;
  z-index: 2;
  top: 4%;
  left: 93.4%;
  transform: translate(-10%, -10%);
}

#sound_off{
  position: absolute;
  width: 3%;
  height: 3%;
  z-index: 3;
  top: 4%;
  left: 93.4%;
  transform: translate(-10%, -10%);
}

#anim_off{
  position: absolute;
  width: 3%;
  height: 3%;
  z-index: 3;
  top: 4%;
  left: 96.5%;
  transform: translate(-10%, -10%);
}

#anim_on{
  position: absolute;
  width: 3%;
  height: 3%;
  z-index: 2;
  top: 4%;
  left: 96.5%;
  transform: translate(-10%, -10%);
}

#back{
  position: absolute;
  width: 20%;
  height: 20%;
  z-index: 1;
  top: 74%;
  left: 80.0%;
  transform: translate(-10%, -10%);
}

 #back:hover{
  position: absolute;
  width: 20%;
  height: 20%;
  z-index: 1;
  scale: 1.07;
  top: 74%;
  left: 80.0%;
  transform: translate(-10%, -10%);
} 


#bakeryon{
  position: absolute;
  width: 21.7%;
  height: 21.7%;
  z-index: 1;
  top: 62.3%;
  left: 47.8%;
  transform: translate(-10%, -10%);
  display: none;
}

.vapour {
  position: absolute;
  top: 20%;
  left: 20%;
  display: flex;
  z-index: 3;
  padding: 0 20px;
  justify-content: center;
}

.vapour span {
  position: absolute;
  bottom: 50px;
  display: block;
  margin: 0 2px 50px;
  min-width: 8px;
  height: 120px;
  background: rgb(94, 28, 28);
  border-radius: 50%;
  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(10px);
  animation-delay: calc(var(--v) * -0.5s);
}


/* img {
  max-width: 100%;
  height: auto;
} */

video{
  max-width: 100%;
  height: auto;
}

audio{
  max-width: 70%;
}

.popup-title{
  text-align: center;
}

.map {
  position: relative;
  max-height: auto;
  max-width: 90%;
  margin: auto;
  background-color: #ccc;
  
}
.map img {
  display: block;
  width: 100%;
}

.map-popup {
  border-radius: 50px;
  text-align: left;
  position: absolute;
  left: 50%;
  top: 70%;
  z-index: 99;
  width: 60%;
  padding: 1rem;
  background-color:rgb(255, 255, 255, 0.95);
  transition: all 200ms ease-in;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 24px rgba(0,0,0,0.22);
  visibility: hidden;
}

.map-popup > *:first-child { margin-top: 0; }
.map-popup > *:last-child { margin-bottom: 0; }

.map-popup.open {
  opacity: 1;
  visibility: visible;
}




.marker {
  position: absolute;
  z-index: 3;
  display: inline-block;
  width: 36px;
  height: 36px;
  color: rgb(0, 0, 0);
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  transition: all 300ms;
  animation: puls-effect 1s ease infinite;
}


.marker:after {
  position: absolute;
  z-index: 3;
  display: inline-block;
  width: 36px;
  height: 36px;
  color: rgb(0, 0, 0);
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: rgb(145, 145, 145);
  transition: all 300ms;
  
}

.marker1 {
  top: 30%;
  left: 15%
}
.marker2 {
  top: 44%;
  left: 36%;
}

.marker3 {
  top: 34%;
  left: 60%;
}

.marker4 {
  top: 54%;
  left: 52%;
}

.marker5 {
  top: 35%;
  left: 80%;;
}

@media only screen and (min-width:110em) {
  .map-item {
    position: absolute;
    width: 36px;
    height: 36px;
    }
    .map-item .marker {
      top: auto;
      left: auto;
    }
  
  .map-item1 {
    top: 33%;
    left: 19%;
  }
  .map-item2 {
    top: 40%;
    left: 39%;
  }

  .map-item3 {
    top: 36%;
    left: 60%;
  }
  .map-item4 {
    top: 54%;
    left: 52%;
  }

  .map-item5 {
    top: 32%;
    left: 82%;
  }

  
  .map-popup {
    position: absolute;
    left: 58px;
    width: 280px;
    transform: translateY(-50%);
  }
  .map-popup:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    margin-top: -16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #fff transparent transparent;
  }
  
  .map-popup.edge {
    left: auto;
    right: calc(100% + 24px);
  }
  .map-popup.edge:before {
    left: auto;
    right: -16px;
    border-width: 16px 0 16px 16px;
    border-color: transparent transparent transparent #fff;
  }
}


@keyframes puls-effect {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* #steam-one {
  -webkit-animation: steam-one 2s ease-out infinite;
  animation: steam-one 10s ease-out infinite;
}

#steam-three {
  -webkit-animation: steam-one 4s ease-out 1s infinite;
  animation: steam-one 4s ease-out 1s infinite;
}

@-webkit-keyframes steam-one {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.15}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

@keyframes steam-one {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.6;}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

#steam-two {
  -webkit-animation: steam-two 4s ease-out 0.5s infinite;
  animation: steam-two 4s ease-out 0.5s infinite;
}

#steam-four {
  -webkit-animation: steam-two 4s ease-out 1.5s infinite;
  animation: steam-two 4s ease-out 1.5s infinite;
}

@-webkit-keyframes steam-two {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-0px) translateX(20px) scale(1); opacity: 0;}
}

@keyframes steam-two {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.5;}
  100% {transform: translateY(-150px) translateX(20px) scale(1); opacity: 0;}
}


#steam-five {
  -webkit-animation: steam-one 2s ease-out infinite;
  animation: steam-one 10s ease-out infinite;
}

#steam-six {
  -webkit-animation: steam-six 4s ease-out 1s infinite;
  animation: steam-six 4s ease-out 1s infinite;
}

@-webkit-keyframes steam-five {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.15}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

@keyframes steam-five {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.6;}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

#steam-six {
  -webkit-animation: steam-six 4s ease-out 0.5s infinite;
  animation: steam-six 4s ease-out 0.5s infinite;
}

#steam-eight {
  -webkit-animation: steam-six 4s ease-out 1.5s infinite;
  animation: steam-six 4s ease-out 1.5s infinite;
}

@-webkit-keyframes steam-six {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-0px) translateX(20px) scale(1); opacity: 0;}
}

@keyframes steam-six {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.5;}
  100% {transform: translateY(-150px) translateX(20px) scale(1); opacity: 0;}
} */






